.friend-list{
    padding: 8px 16px;
}

.level-wrapper{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.level-wrapper .level{
    padding: 4px 0 10px;
    flex: 33% 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    background-color: #212121;
    border-radius: 12px;
}

.level-wrapper .level span:nth-child(2){
    font-size: 18px;
    font-weight: 700;
}

.no-friends{
    padding:50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-friends span{
    opacity: 50%;
}