.claim-section{
    padding: 24px;
    border-radius: 12px;
    background-color: #181818;
}

.claim-section .title{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.claim-info{
    margin: 11px 0 14px 0;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
}

.min-amount-detail{
    margin: 0 0 18px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.claim-section .not-yet-btn{

}

